<div class="container">
  <p>Hi, I'm Dallin, and I'd be happy to take your photo!</p>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'profile.jpg', height: "100%", width:"100%" %>
    </div>
    <div class="col-md-8">
      <div class="contact-links">
        <div class="list-group">
          <p>
            <a href="mailto:dmoakphoto@gmail.com"  class="list-group-item"target="_blank">
              <span class="badge badge-pill badge-secondary">
                <i class="fas fa-envelope-square"></i>
              </span>
              dmoakphoto@gmail.com
            </a>
          </p>
          <p>
            <a href="http://m.me/dmoakphoto"  class="list-group-item"target="_blank">
              <span class="badge badge-pill badge-secondary">
                <i class="fab fa-facebook-messenger"></i>
              </span>
              @dmoakphoto
            </a>
          </p>
          <p>
            <a href="tel:19152491667" class="list-group-item">
              <span class="badge badge-pill badge-secondary">
                <i class="fas fa-mobile-alt"></i>
              </span>
              (915) 249 1667
            </a>
          </p>
        </div>
      </div>
    </div>      
  </div>
</div>