<div class="container">
  <p>Hi, I'm Dallin, and I'd be happy to take your photo!</p>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'profile.jpg', height: "100%", width:"100%" %>
    </div>
    <div class="col-md-8">
      <div class="contact-links">
        <div class="list-group">
          <p>
            <a href="mailto:dmoakphoto@gmail.com"  class="list-group-item"target="_blank">
              <span class="badge badge-pill badge-secondary">
                <svg class="svg-inline--fa fa-envelope-square fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="envelope-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM178.117 262.104C87.429 196.287 88.353 196.121 64 177.167V152c0-13.255 10.745-24 24-24h272c13.255 0 24 10.745 24 24v25.167c-24.371 18.969-23.434 19.124-114.117 84.938-10.5 7.655-31.392 26.12-45.883 25.894-14.503.218-35.367-18.227-45.883-25.895zM384 217.775V360c0 13.255-10.745 24-24 24H88c-13.255 0-24-10.745-24-24V217.775c13.958 10.794 33.329 25.236 95.303 70.214 14.162 10.341 37.975 32.145 64.694 32.01 26.887.134 51.037-22.041 64.72-32.025 61.958-44.965 81.325-59.406 95.283-70.199z"></path>
                </svg>
                <!-- <i class="fas fa-envelope-square"></i> -->
              </span>
              dmoakphoto@gmail.com
            </a>
          </p>
          <p>
            <a href="http://m.me/dmoakphoto"  class="list-group-item"target="_blank">
              <span class="badge badge-pill badge-secondary">
                  <svg class="svg-inline--fa fa-facebook-messenger fa-w-14" aria-hidden="true" data-prefix="fab" data-icon="facebook-messenger" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M224 32C15.9 32-77.5 278 84.6 400.6V480l75.7-42c142.2 39.8 285.4-59.9 285.4-198.7C445.8 124.8 346.5 32 224 32zm23.4 278.1L190 250.5 79.6 311.6l121.1-128.5 57.4 59.6 110.4-61.1-121.1 128.5z"></path>
                  </svg>
                <!-- <i class="fab fa-facebook-messenger"></i> -->
              </span>
              @dmoakphoto
            </a>
          </p>
          <p>
            <a href="tel:19152491667" class="list-group-item">
              <span class="badge badge-pill badge-secondary">
                <svg class="svg-inline--fa fa-mobile-alt fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="mobile-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path>
                </svg>
                <!-- <i class="fas fa-mobile-alt"></i> -->
              </span>
              (915) 249 1667
            </a>
          </p>
        </div>
      </div>
    </div>      
  </div>
</div>